@media (max-width:600px) {
    body {
        background-image: url(rec/flower-cherry-blossom.gif);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        font-family: 'Staatliches';
    }
     * {
        font-family: 'Staatliches';
    }
    .logo {
          text-align: center;
        align-items: center;
        flex-direction: row;
        display: flex;
      
    }
    .logo img {
        height: 95px;
        align-items: center center; 
        margin-left: 8%;
        background-color: rgba(255, 155, 155, 0.5);
        border: rgba(255, 155, 155, 0.749) 5px solid;
    }
    h1 {
        font-family: 'Staatliches';
        border: 2px rgba(255, 155, 155, 0.749) solid;
        background-color: rgba(255, 208, 208, 0.5);

        border-radius: 150px;
        font-size: 40px;
    }
  
   
    }
    .COMO {
        font-family: 'Staatliches', cursiv;
        text-align: center;
        align-items: center center;
        border: 2px rgba(255, 155, 155, 0.749);
        background-color: rgba(255, 208, 208, 0.6);
      
    }
    id {
        font-family: 'Staatliches;
        
        text-align: center;
        text-decoration: none;
        border: 2px rgba(255, 155, 155, 0.749) solid;
        background-color: rgba(255, 208, 208, 0.6);
        font-size: 48px;
    }
.p {
        font-family: 'Staatliches;
        
        text-align: center center;
        text-decoration: none;
        border: 2px rgba(255, 155, 155, 0.749) solid;
        background-color: rgba(255, 208, 208, 0.6);
        font-size: 48px;
    }
}
